# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=48pjmhf7
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_READ_TOKEN=

# YouTube Data API v3
YOUTUBE_API_KEY=
YOUTUBE_CHANNEL_ID=
YOUTUBE_CHANNEL_HANDLE=IglesiaAlianzaOasisNY

# Site
NEXT_PUBLIC_SITE_URL=https://tu-dominio.vercel.app
